.homepage {
    margin-top: 35px;
    overflow-y: hidden;
}

.homepage::-webkit-scrollbar {
  display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-template-areas:
    "Side-Bar Journal-Entries";
    padding-right: 5%;
    padding-left: 5%;
}

.Journal-Entries { 
    grid-area: Journal-Entries; 
    height: min-content;

}

.Side-Bar { 
    grid-area: Side-Bar; 
    position: sticky;
}

.entryContainer {
    /* height: 80vh; */
    overflow-y: scroll;
}