.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 150, 250);
    padding: 5vh 5vw 5vh 5vw;
    height: 2vh;
    align-items: center;
}

.nav-button {
    width: 250px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 50px;

}

.item {
    text-shadow: black;
}