.login {
    display: grid;
    place-items: center;
    height: 50vh;
    flex-direction: column;

}

.login-form > form {
    display: grid;
    place-items: center;
    flex-direction: row;
}

.login-form > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 50;
    border-radius: 999px;
    background-color: #eff2f5;
    width: 250px;
    height: 50px;
    text-align: center;

}

.divider{
    width: auto;
    height:15px;
    /* display:inline-block; */
}

/* .login > div > img {
    object-fit: contain;
    height: 350px;
} */

/* .login-form > form > button {
    width: 125px;
    height: 22px;
    background-color: lavender;
    border: 0;
    color: black;
    font-weight: 600;
    display: flex;
} */

.login-form > form > button {
    display: none;
}

.login-form > button:hover {
    width: 100px;
    height: 50px;
    background-color: white;
    border-color: lavender;
    border-width: 2px;
    color: rgb(181, 181, 241);

}

