.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.diaperTable > tbody {
    display: inline-block;
    height: 70vh;
    overflow: auto;

}

.diaperTable > thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

@keyframes floating {
  0% {
    transform: translate(0, 1px);
  }

  65% {
      transform: translate(0, 5px);
  }
  100% {
      transform: translate(0, 1px);
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-size {
  width: 40px;
  height: 100%;
}

.floating-size:hover {
  opacity: 50%;
  cursor: pointer;
}

button {
  background-color: rgb(150, 150, 250);
}