.navbar {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    padding: 5vh 5vw 5vh 5vw;
    height: 2vh;
    align-items: center;
}

.nav-button {
    width: 250px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 50px;

}

.nav-button:hover {
    background-color: white;
    border-color: lavender;
    border-width: 2px;
    color: rgb(181, 181, 241);

}